<section id="contacto">
    <div class="container">
        <div class="contact-box">
            <div class="right">
                <h2>Suport <span>Contact</span> </h2>
                <form method="post">
                    <input type="text" class="field" placeholder="Tu Nombre">
                    <input type="text" class="field" placeholder="Tu Email">
                    <input type="text" class="field" placeholder="Telefono">
                    <textarea placeholder="Message" class="field"></textarea>
                    <button class="btn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>